
@{
    ViewBag.Title = "Register";
}

<div class="wrapper">
    <div class="container">
        <div class="row justify-content-around">
            <form action="" class="col-md-6 bg-light p-3">
                <h1 class="text-center text-uppercase h3">Đăng ký tài khoản</h1>
                <div class="form-group">
                    <label for="" class="form-label">Họ tên</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group ">
                    <label for="" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group ">
                    <label for="" class="form-label">Xác nhận lại mật khẩu</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group ">
                    <label for="" class="form-label">Giới tính</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="genger" id="male" value="male" class="form-check-input" checked>
                            <label for="" class="form-check-label">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="genger" id="female" value="female" class="form-check-input">
                            <label for="" class="form-check-label">Nữ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group py-3">
                    <label for="" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" placeholder="Số điện thoại">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                    <label for="" class="form-check-label">Tôi cam kết tuân theo chính sách bảo mật  và điều khoản sử dụng của EudoraCineplex</label>
                </div>
                <div class="form-group ">
                    <button class="btn btn-primary form-control">Đăng ký</button>
                </div>
                <div class="form-group py-3 ">
                    <button class="btn btn-style form-control">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>

