
@{
    ViewBag.Title = "BookTicket";
}

<h2>BookTicket</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Tên phim </th>
        <th>Số Ghế</th>
        <th>Phòng chiếu</th>
    </tr>
    @foreach (EudoraCinema.Models.VeEntity item in Model)
    {

        <tr>
            <th>@item.PK_iVeID</th>
            <th>@Session["PK_iPhimID"] </th>
            <th>@item.FK_iGheID</th>
            <th>@item.FK_iPhongchieuID</th>
        </tr>
    }
</table>
<button class="btn btn-muave">Thanh toán</button>

