
@{
    ViewBag.Title = "BookTicket";
}

<h2>BookTicket</h2>

using (HttpResponseMessage response = httpClient.GetAsync(http_base + direct_Film + method_GetFilmbyID + "?id=" + idPhim).Result)
{
    if (response.IsSuccessStatusCode)
    {
        string jsonData = response.Content.ReadAsStringAsync().Result;
        PhimEntity phim = JsonConvert.DeserializeObject<PhimEntity>
    (jsonData);
    return View(phim);
    }
    else
    {
    // Handle error response
    return View();
    }
    }
